<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   CopyURL

   Created by Rémino Rem on 2025-07-25.
   Copyright (c) 2025 RÉMINO. All rights reserved.
-->
<plist version="1.0">
	<dict>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLName</key>
				<string>net.remino.CopyURL</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>http</string>
					<string>https</string>
				</array>
			</dict>
		</array>
		<key>LSRequiresNativeExecution</key>
		<true/>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeName</key>
				<string>HTML Document</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>public.html</string>
				</array>
			</dict>
		</array>
	</dict>
</plist>
